@page "/Membresia/Registrar"
@model RegisterModel


<div class="container p-4" style="min-width: 320px">
    <form method="post" enctype="multipart/form-data">
        <div class="row">

            <div class="col-lg">
                <div class="panel  panel-primary">

                    <div class="panel-heading">
                        <h3 class="panel-title">Registrar personal</h3>
                    </div><!--<div class="panel-heading">-->

                    <div class="panel-body">
                        <div class="card">

                            <div class="card-body">

                                <div class="form-group">
                                    <p>Nombre de membres&iacute;a</p>
                                    <input asp-for="Input.Nombre" placeholder="Nombre" class="form-control" autofocus required>
                                    <span asp-validation-for="Input.Nombre" class="text-danger"></span>
                                </div><!--<div  class="form-group">-->

                                <div class="form-group">
                                    <p>Descripci&oacute;n</p>
                                    <input asp-for="Input.Descripcion" placeholder="Descripcion" class="form-control" autofocus required>
                                    <span asp-validation-for="Input.Descripcion" class="text-danger"></span>
                                </div><!--<div  class="form-group">-->


                                <div class="form-group">
                                    <div class="row">
                                        <div class="col">
                                            <p>Lapso</p>

                                            <input type="number" asp-for="Input.Cantidad" placeholder="Cantidad" class="form-control" autofocus required value="1" min="1" max="31" step="1">
                                            <span asp-validation-for="Input.Cantidad" class="text-danger"></span>
                                        </div>
                                        <div class="col">
                                            <p>Medida</p>
                                            @if (!Model.Input.IdMembresia.Equals(0))
                                            {
                                                @Html.DropDownList("Input.Periodo", new SelectList(Model.Input.periodosLista, "Text", "Text"), new { @class = "form-control" });
                                            }
                                            else
                                            {
                                                @Html.DropDownList("Input.Periodo", new SelectList(Model.Input.periodosLista, "Text", "Text"), "Seleccione una periodo", new { @class = "form-control" }) @*value = id seleccion, text= texto seleccion *@

                                            }
                                            <span asp-validation-for="Input.Periodo" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div><!--<div  class="form-group">-->



                                <div class="form-group">
                                    <p>Monto</p>
                                    <input asp-for="Input.Monto" placeholder="Monto" class="form-control" autofocus required>
                                    <span asp-validation-for="Input.Monto" class="text-danger"></span>
                                </div><!--<div  class="form-group">-->

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col text-right">
                                            @if (Model.Input.IdMembresia.Equals(0))
                                            {
                                                <a title="Cancelar" class="btn btn-danger text-white" asp-controller="Memberships" >Cancelar</a>
                                                <button type="submit" title="Registrar" class="btn btn-success">Registrar</button>
                                            }
                                            else
                                            {
                                                <a title="Cancelar"  class="btn btn-danger text-white" asp-route-id="@Model.Input.IdMembresia" asp-area="Memberships" asp-page="Details">Cancelar</a>
                                                <button type="submit" class="btn btn-success" title="Guardar" onclick="confirmar('Editar','Membresia')">Guardar</button>
                                            }
                                            <input type="hidden" name="accMembresia" id="accMembresia" value="false" />
                                        </div>
                                    </div>
                                </div><!--<div  class="form-group">-->

                                <div class="form-group">
                                    <label class="text-danger">@Html.DisplayFor(m => m.Input.ErrorMessage)</label>

                                </div><!--<div  class="form-group">-->
                            </div><!--<div  class="card-body">-->
                        </div><!--<div class="card">-->
                    </div><!--<div class="panel-body">-->
                </div><!--<div class="panel panel-primary">-->
            </div> <!--<div class="col-xs-6 col-md-5">-->
        </div> <!--<div class="row">-->
    </form> <!-- <form method="post" enctype="multipart/form-data">-->
</div> <!-- -->

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}