@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject GymTool.Data.ApplicationDbContext Context

<div class="">
   <h1>Registrar asistencias</h1>

</div>
