@using Microsoft.AspNetCore.Identity

@model GymTool.Areas.Principal.Models.InputModelAsistencia
@{
    ViewData["Title"] = "Agenda";
}

<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
    <script src="~/js/Calendario.js" asp-append-version="true"></script>
    <script src="~/js/ModalAsistencia.js" asp-append-version="true"></script>
    @*<script src="~/js/ModalAsistenciasHora.js" asp-append-version="true"></script>*@

    @*<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui-min.js"></script>
        <script src="~/js/Unobtrusivo-ajax.js"></script>*@

    @*<script>
            $(function () {
                $("#clienteNombre").autocomplete({
                    source: "/Principal/GetClientes"
                });
                //$.ajax({
                //    type: "GET",
                //    url: "/Principal/GetClientes",
                //    success: function (data) {
                //        alert(data)
                //    },
                //    error: function (error) {
                //        alert('failed');
                //    }
                // });
            });

        </script>*@



}
<div class="container p-4" style="min-width: 340px">
    <div id="registrarAsistencia"></div>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><span id="eventTitle"></span></h4>

                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p id="pDetails"></p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger text-white" title="Cerrar" data-dismiss="modal">Cerrar</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col" style="text-align:left">
            <h1>Agenda</h1>
        </div>
        <div class="col">
            <div class="form-group float-right" " style="margin-top: 15px;">
                <button type="button" class="btn btn-primary text-white" title="Asistencia nueva" data-toggle="ajax-model" data-target="#agregarAsistencia" data-url="@Url.Action("Agregar")">Asistencia nueva</button>

            </div>

        </div>
    </div>



    <div class="row">

        <div class="col" style="min-width: 300px">
            <div id="calender"></div>
        </div>


    </div>

</div>
