@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject GymTool.Data.ApplicationDbContext Context

<ul class="navbar-nav ">
    @if (SignInManager.IsSignedIn(User))
    {
        var name = "";
        var id = UserManager.GetUserId(User);
        var user = Context.TUsers.Where(u => u.UsuarioId.Equals(id)).ToList();
        if (user.Count.Equals(0))
        {
            name = "Usuario";
        }
        else
        {
         
            if (User.IsInRole("Administrador"))
            {
                name = $"{user[0].Nombre}";
            }
            else
            {
                name = "Instructor";

            }

        }

        <li class="nav-item">
            <a class="nav-link text-white" asp-area="Principal" asp-controller="Principal" asp-action="Principal">¡Hola @name!</a>
        </li>

        <li class="nav-item">
            <form class="form-inline" asp-area="Users" asp-controller="Users" asp-action="Logout">
                <button type="submit" class="nav-link btn btn-link text-white">Cerrar sesión</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">¡Bienvenido!</a>
        </li>

        <li class="nav-item">
            <img class="bg-img-light-login" src="../images/system/gymtoolicono.png">
        </li>
    }

</ul>
