@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject GymTool.Data.ApplicationDbContext Context

<ul class="navbar-nav ">
    @if (SignInManager.IsSignedIn(User))
    {
        var name = "";
        var iniciales = "";
        String roleAdmin = "Administrador";
        var image = "../images/system/logout.png";

        var id = UserManager.GetUserId(User);
        var user = Context.TUsers.Where(u => u.UsuarioId.Equals(id)).ToList();
        if (user.Count.Equals(0))
        {
            name = "Usuario";
        }
        else
        {

            if (User.IsInRole(roleAdmin))
            {
                name = $"{user[0].Nombre}" + $" {user[0].Apellidos}";

                iniciales = $"{user[0].Nombre}".Substring(0, 1) + $"{user[0].Apellidos}".Substring(0, 1);
            }
            else
            {
                name = "Instructor";
                iniciales = "INS";

            }

        }

        <li class="nav-item dropdowns ">
            <div class="circulo notranslate">
                <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><h4 title="@name">@iniciales</h4></a>
            </div>
            <div class="dropdowns-content">
                <a asp-area="Users" asp-controller="Users" asp-action="Logout">Cerrar Sesi&#243;n</a>
            </div>
        </li>

    }
    else
    {
        var iconogymtool = "../images/system/gymtoolicono.png";

        <li class="nav-item" style=" float: left">
            <a class="nav-link text-white" style="font-family: sans-serif; font-size: large" title="Manage">Bienvenido</a>
        </li>

        <li class="nav-item">
            <img class="bg-img-light-login" src="@iconogymtool">
        </li>

    }

</ul>
